.mainLayoutOutled {
  padding-top: 52px;
}

.mainLayoutOutledContainer {
  max-width: var(--xl-max-width);
  margin: 0 auto;
  padding-top: 54px;
}

.mainLayoutOutledContainerContent {
  display: grid;
  grid-template-areas: "sidebar main aside";
  grid-template-columns: minmax(0, 5fr) minmax(0, 12fr) minmax(300px, 7fr);
  gap: 1.6rem;
  align-items: flex-start;
  margin: 24px 0;
}
