.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}

.loginWrapper {
  display: flex;
  width: 70%;
  height: 70%;
}

.loginLeft,
.loginRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  margin-bottom: 10px;
  color: #1775ee;
  font-weight: 800;
  font-size: 50px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  min-height: 300px;
  margin: 0 auto;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}

.authInput {
  padding: 8px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 10px;
}

.authInput:not(:first-child) {
  margin-top: 12px;
}

.authInputError {
  margin-bottom: 4px;
}

.authInput:focus {
  outline: none;
}

.authWrapper {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.loginButton {
  align-self: center;
  margin-right: 8px;
  padding: 12px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  background-color: #1775ee;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.loginButton:focus {
  outline: none;
}

.loginButton:disabled {
  cursor: not-allowed;
}

.loginForgot {
  color: #1775ee;
  text-align: center;
}

.loginRegisterButton {
  align-self: center;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  background-color: #42b72a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.loginRegisterButton a {
  color: white;
  text-decoration: none;
}
