/* stylelint-disable selector-class-pattern */
.userAvatar {
  box-sizing: border-box;
  background-clip: content-box;
  border: 2px solid var(--white);
}

.userAvatar--s {
  width: 24px;
  height: 24px;
}

.userAvatar--m {
  width: 48px;
  height: 48px;
}

.userAvatar--l {
  width: 72px;
  height: 72px;
}

.userAvatar--xl {
  width: 104px;
  height: 104px;
}

.userAvatar--xxl {
  width: 152px;
  height: 152px;
}

.userAvatar--circle {
  border-radius: 50%;
}
