.detailProfile {
  background-color: var(--main-background-color);
  border-radius: 8px;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
}

.detailProfileContent {
  padding: 0 24px 24px;
}

.detailProfileCoverImg svg {
  border-radius: 8px 8px 0 0;
}

.detailProfileAvatarImg {
  margin-top: -86px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.detailProfileUser {
  margin-top: 12px;
}

.detailProfileUserName {
  font-weight: 600;
  font-size: 21px;
}

.detailProfileUserPosition {
  margin-bottom: 4px;
  color: var(--black-a80);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.detailProfileUserLocation {
  margin-bottom: 8px;
  color: var(--black-a60);
  font-size: 14px;
}

.detailProfileUserConnections {
  color: var(--blue);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
}
