.userItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 180px;
  padding: 0 8px 8px;
  overflow: hidden;
  text-align: center;
  background-color: var(--main-background-color);
  border-radius: 8px;
  box-shadow: var(--shadow-lined);
  cursor: pointer;
}

.userItemBg {
  position: absolute;
  z-index: 10;
}

.userItemBg svg {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.userItemUserAvatar {
  position: relative;
  z-index: 20;
  margin-top: 14px;
}

.userItemUsername {
  margin-top: 4px;
}

.userItemPosition {
  margin-top: 2px;
  color: var(--black-a60);
  font-weight: normal;
}

.userItemBottomContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userItemCompany {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.userItemCompanyImg {
  max-width: 24px;
  margin-right: 4px;
}

.userItemCompanyName {
  color: var(--black-a60);
  font-size: 12px;
}

.userItemConnectBtn {
  margin-top: 10px;
  padding: 0 24px;
  overflow: hidden;
  color: var(--blue);
  font-weight: 600;
  line-height: 2rem;
  background-color: transparent;
  border: 1px solid var(--blue);
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.16s ease-in;
}

.userItemConnectBtn:hover {
  background-color: var(--black-a08);
  border: 1px solid var(--black);
}
