.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  position: relative;
  margin-right: 10px;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.rightbarOnline {
  position: absolute;
  top: -2px;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: limegreen;
  border: 2px solid white;
  border-radius: 50%;
}

.rightbarUsername {
  font-weight: 500;
}
