.post {
  position: relative;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
}

.post:not(:first-child) {
  margin-top: 16px;
}

.post:not(:last-child) {
  margin-bottom: 16px;
}

.postActor {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px 16px 0;
  text-decoration: none;
}

.postActorMeta {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.postUsername {
  display: inline-block;
  overflow: hidden;
  color: var(--main-color);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color 0.16s ease-in;
}

.postUsername:hover {
  color: var(--blue);
}

.postUserPosition,
.postPublishDate {
  color: var(--black-a60);
  font-size: 12px;
}

.postControlMenu {
  position: absolute;
  top: 16px;
  right: 8px;
  padding: 2px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.16s ease-in;
}

.postControlMenu:hover {
  background-color: var(--black-a08);
}

.postContent {
  position: relative;
  display: block;
  margin: 0 16px;
  overflow: hidden;
}

.postImage {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 8px;
}

.postImageImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-position: 50%;
  background-size: cover;
}

.postSocialActivity {
  padding: 4px 16px;
}

.postSocialCounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  color: var(--black-a60);
  font-size: 14px;
}

.postSocialActionBar {
  display: grid;
  grid-auto-flow: column;
  justify-content: initial;
  column-gap: 0.4rem;
}

.postSocialActionsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  color: var(--black-a60);
  line-height: 2.8rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.16s ease-in;
}

.postSocialActionsBtn:hover {
  background-color: var(--black-a08);
  border-radius: 4px;
}

.postSocialActionsIcon {
  display: flex;
  margin-right: 5px;
}
