.usersList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  padding: 12px;
  background-color: var(--main-background-color);
  border-radius: 8px;
  box-shadow: var(--shadow-lined);
}
